.item1{
    grid-area: myArea;
    background-color: pink;
    padding: 5px;
 }

 .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
        "myArea ..."
        "myArea ...";
  }
  .bor{
    border: 1px solid black;
    width: 600px;
    border-radius: 5px;
    padding: 10px;
  }
  body{
    padding: 20px;

  }
  .head{
    padding: 20px;
    background-color: aquamarine;
  }
  .item2, .item3, .item4, .item5 {
    background-color: powderblue;
    padding: 5px;
  }
  body{
    background-color:gray;
  }
  

  
